<div class="silkflo_tooltip" id="tooltip1">
    <h2 class="silkflo_tooltip-title"><img src="~/Icons/info.png" />Main Dashboard</h2>
    <p class="silkflo_tooltip-content">This is where you can see entier program performance, by ideas, project in build and automations deployed.</p>
    <a class="silkflo_tooltip-close" onclick="hideTooltip()">×</a>
</div>
@*<script>
    $(document).ready(function () {
        $('.showtooltip').mouseover(function () {
            $('#tooltip1').show();
        });
    });
</script>*@