.account {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr auto;
}

.account_Left
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    height: 100%;
}

.account_Left .logo-and-text,
.account_Left .logo
{
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.account_Left .logo-and-text svg,
.account_Left .logo svg
{
    height: 55px;
}

.account_Left .logo-and-text
{
    display: none;
}

.account_Left .brand-text
{
    order: 0;
    flex: 1 1 auto;
    align-self: center;
    height: 100%;
    display: flex;
    margin-top: 1rem;
    height: 55px;

}


.account h1 {
    font-size: calc(1.5rem + 1.2vw);
}



.account_Left h1,
.account_Left h2 {
    display: none;
}




/*.NavigationTop .logo,
.brand
{
    cursor: pointer;
}*/

/*.NavigationTop .logo

{
    height: 60%;
    min-width: 130px;

}*/


.brand > svg
{
}




@media (min-width: 800px) {

    .account_Left .logo-and-text
    {
        display: block;
    }

    .account_Left .logo
    {
        display: none;
    }

    .account_Left h1 {
        display: block;
        font-size: calc(2vw);
        line-height: calc(0.5rem + 2.5vw);
    }

    .account_Left h2 {
        display: block;
        font-size: calc(1vw);
        line-height: calc(2vw);
        letter-spacing: 0.05rem;
    }

}


@media (min-width: 950px) {

    .account {
        grid-template-columns: 1fr 1fr;
    }



    .account_Left h1 {
        display: block;
        font-size: calc(2.2vw);
        line-height: calc(0.5rem + 2.5vw);
    }

    .account_Left h2 {
        display: block;
        font-size: calc(1vw);
        line-height: calc(2.2vw);
        letter-spacing: 0.05rem;
    }

    .account_Left h1,
    .account_Left h2 {
        display: block
    }
}



.account_Left {
    display: flex;
    justify-content: center;
    background: url("/backgrounds/Background.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: calc(100vh - 42px);
    width: 100%;
    position: sticky;
    top: 0;
}

.account_Left * {
    color: white;
}







.account_Right {
    display: flex;
    background-repeat: no-repeat;
    height: calc(100vh - 42px);
    width: 100%;
    background: white;
    justify-content: center;
}

.account_Right > * {
    margin-left: 2rem;
    margin-right: 2rem;
    align-self: center;
    justify-self: center;
}

    .account_Right_SignIn > * {
        min-width: 300px;
         max-width: 500px;
    }

.account_Right .form-floating,
.account_Right .form-check,
.account_Right .btn,
.account_Right p {
    margin-bottom: 1rem;
}